.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 40px;
  background-color: rgb(221, 148, 13);
  color: rgb(9, 2, 24);
  text-align: center;
  margin: 0px;
}
.content {
  position: absolute;
  background-color: blueviolet;
  width: 98%;
  border: 1px solid rgb(18, 141, 38);
  margin: 5px;
  /* bottom: -50px; */
  height: 80%;
  max-height: 100%;
  overflow: auto;
}

router-outlet{
  height: 100%;
}

.hide-scrollbar::-webkit-scrollbar{
  display: none;
}

.hide-scrollbar{
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.main-content{
  padding: 0 30px 30px;
  min-height: calc(100vh - 123px);
  margin-top: -30px;
}
