<mat-grid-list cols="3" rowHeight="2:1">
  <mat-grid-tile [colspan]="2" [rowspan]="1">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Top coins</mat-card-title>
        <mat-card-subtitle>Last 24h</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p-table [value]="coins">
          <ng-template pTemplate="header">
            <tr>
              <th pSortableColumn="rank">Rank</th>
              <th >Name</th>
              <th >Symbol</th>
              <th >Price USD</th>
              <th >Price BTC</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-coin>
            <tr>
              <td>{{coin.rank}}</td>
              <td>{{coin.name}}</td>
              <td>{{coin.symbol}}</td>
              <td>{{coin.price_usd}}</td>
              <td>{{coin.price_btc}}</td>
            </tr>
          </ng-template>

        </p-table>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
</mat-grid-list>
