.row{
  display: flex;
  align-items: center;
  height: 100%;
}

.text-center{
  height: 100%;
}

.circle-icon {
  background: lightgreen;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: center;
  padding: 30px;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.line {
  flex: 1;
}

.text {
  padding-left: 10px;
  padding-right: 10px;
}


button {
  background: #fff;
  color: #222;
  border: 1px solid #e7e7e7;
  border-bottom: 2px solid #ddd;
  border-radius: 2px;
  padding: 4px 17px;
}

button.active {
  color: #fff;
  background: #008ffb;
  border: 1px solid blue;
  border-bottom: 2px solid blue;
}

button:focus {
  outline: 0;
}
