<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted">
  <!-- Section: Social media -->
  <!--  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">-->

  <!--  </section>-->
  <!-- Section: Social media -->

  <!-- Section: Links  -->
  <section class="border-top-1" style="border-color: lightgray;">
    <div class="container text-center text-md-start mt-5">
      <!-- Grid row -->
      <div class="row mt-3">
        <!-- Grid column -->
        <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
          <!-- Content -->
          <div class="justify-content-center align-items-center">
            <img class="align-items-center" src="assets/logos/crypto_coins.svg" width="60px" alt="logo"/>
            <h2 class="" style="vertical-align: center; font-family: 'Roboto',serif">
              CryK
            </h2>
          </div>
          <p>
            This website was made for the WADE Seminar.
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Crypto
          </h4>
          <p>
            <a href="" class="text-reset">Home</a>
          </p>
          <p>
            <a href="/browse" class="text-reset">Browse</a>
          </p>
          <p>
            <a href="/crypto/btc" class="text-reset">Bitcoin</a>
          </p>
          <p>
            <a href="/crypto/eth" class="text-reset">Ethereum</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4 text-center">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">
            Useful links
          </h4>
          <p>
            <a href="#!" class="text-reset">Pricing</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Settings</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Orders</a>
          </p>
          <p>
            <a href="#!" class="text-reset">Help</a>
          </p>
        </div>
        <!-- Grid column -->

        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4 ">
          <!-- Links -->
          <h4 class="text-uppercase fw-bold mb-4">Contact</h4>
          <div class="">
            <a href="mailto:dorian.olarescu@students.uaic.ro">
              <i class="pi pi-envelope me-2"></i>dorian.olarescu@students.uaic.ro</a>
          </div>
          <div class="">
          <a href="mailto:adrian.hamod@students.uaic.ro">
            <i class="pi pi-envelope me-2"></i>adrian.hamod@students.uaic.ro
          </a>
          </div>
        </div>
        <!-- Grid column -->
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Section: Links  -->

  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    WADE 2023: <b>Adrian Hamod & Dorian Olărescu</b>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
